<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smart_mall_li_cr_springboot2.mapper.ComboItemMapper">

    <resultMap id="BaseResultMap" type="com.example.smart_mall_li_cr_springboot2.pojo.ComboItem">
            <id property="id" column="id" />
            <result property="comboId" column="combo_id" />
            <result property="itemId" column="item_id" />
            <result property="quantity" column="quantity" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,combo_id,item_id,quantity,create_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from combo_item
        where  id = #{id} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from combo_item
        where  id = #{id} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.smart_mall_li_cr_springboot2.pojo.ComboItem" useGeneratedKeys="true">
        insert into combo_item
        ( id,combo_id,item_id,quantity,create_time)
        values (#{id},#{comboId},#{itemId},#{quantity},#{createTime})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.smart_mall_li_cr_springboot2.pojo.ComboItem" useGeneratedKeys="true">
        insert into combo_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="comboId != null">combo_id,</if>
                <if test="itemId != null">item_id,</if>
                <if test="quantity != null">quantity,</if>
                <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="comboId != null">#{comboId},</if>
                <if test="itemId != null">#{itemId},</if>
                <if test="quantity != null">#{quantity},</if>
                <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.smart_mall_li_cr_springboot2.pojo.ComboItem">
        update combo_item
        <set>
                <if test="comboId != null">
                    combo_id = #{comboId},
                </if>
                <if test="itemId != null">
                    item_id = #{itemId},
                </if>
                <if test="quantity != null">
                    quantity = #{quantity},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime},
                </if>
        </set>
        where   id = #{id} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.smart_mall_li_cr_springboot2.pojo.ComboItem">
        update combo_item
        set 
            combo_id =  #{comboId},
            item_id =  #{itemId},
            quantity =  #{quantity},
            create_time =  #{createTime}
        where   id = #{id} 
    </update>
</mapper>
