<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smart_mall_li_cr_springboot2.mapper.MallUserMapper">

    <resultMap id="BaseResultMap" type="com.example.smart_mall_li_cr_springboot2.pojo.MallUser">
            <id property="id" column="id" />
            <result property="username" column="username" />
            <result property="password" column="password" />
            <result property="phone" column="phone" />
            <result property="nickname" column="nickname" />
            <result property="avatar" column="avatar" />
            <result property="gender" column="gender" />
            <result property="birthday" column="birthday" />
            <result property="lastLoginTime" column="last_login_time" />
            <result property="status" column="status" />
            <result property="qqOpenid" column="qq_openid" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,phone,nickname,avatar,
        gender,birthday,last_login_time,status,qq_openid,
        create_time,update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from mall_user
        where  id = #{id}
    </select>
    <select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from mall_user where username = #{username}
    </select>
    <select id="selectByUsernameAndPassword"
            parameterType="java.lang.String" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from mall_user
                where username = #{username} and password = #{password}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from mall_user
        where  id = #{id} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.smart_mall_li_cr_springboot2.pojo.MallUser" useGeneratedKeys="true">
        insert into mall_user
        ( id,username,password,phone,nickname,avatar,
        gender,birthday,last_login_time,status,qq_openid,
        create_time,update_time)
        values (#{id},#{username},#{password},#{phone},#{nickname},#{avatar},
        #{gender},#{birthday},#{lastLoginTime},#{status},#{qqOpenid},
        #{createTime},#{updateTime})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.smart_mall_li_cr_springboot2.pojo.MallUser" useGeneratedKeys="true">
        insert into mall_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="username != null">username,</if>
                <if test="password != null">password,</if>
                <if test="phone != null">phone,</if>
                <if test="nickname != null">nickname,</if>
                <if test="avatar != null">avatar,</if>
                <if test="gender != null">gender,</if>
                <if test="birthday != null">birthday,</if>
                <if test="lastLoginTime != null">last_login_time,</if>
                <if test="status != null">status,</if>
                <if test="qqOpenid != null">qq_openid,</if>
                <if test="createTime != null">create_time,</if>
                <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="username != null">#{username},</if>
                <if test="password != null">#{password},</if>
                <if test="phone != null">#{phone},</if>
                <if test="nickname != null">#{nickname},</if>
                <if test="avatar != null">#{avatar},</if>
                <if test="gender != null">#{gender},</if>
                <if test="birthday != null">#{birthday},</if>
                <if test="lastLoginTime != null">#{lastLoginTime},</if>
                <if test="status != null">#{status},</if>
                <if test="qqOpenid != null">#{qqOpenid},</if>
                <if test="createTime != null">#{createTime},</if>
                <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.smart_mall_li_cr_springboot2.pojo.MallUser">
        update mall_user
        <set>
                <if test="username != null">
                    username = #{username},
                </if>
                <if test="password != null">
                    password = #{password},
                </if>
                <if test="phone != null">
                    phone = #{phone},
                </if>
                <if test="nickname != null">
                    nickname = #{nickname},
                </if>
                <if test="avatar != null">
                    avatar = #{avatar},
                </if>
                <if test="gender != null">
                    gender = #{gender},
                </if>
                <if test="birthday != null">
                    birthday = #{birthday},
                </if>
                <if test="lastLoginTime != null">
                    last_login_time = #{lastLoginTime},
                </if>
                <if test="status != null">
                    status = #{status},
                </if>
                <if test="qqOpenid != null">
                    qq_openid = #{qqOpenid},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime},
                </if>
        </set>
        where   id = #{id} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.smart_mall_li_cr_springboot2.pojo.MallUser">
        update mall_user
        set 
            username =  #{username},
            password =  #{password},
            phone =  #{phone},
            nickname =  #{nickname},
            avatar =  #{avatar},
            gender =  #{gender},
            birthday =  #{birthday},
            last_login_time =  #{lastLoginTime},
            status =  #{status},
            qq_openid =  #{qqOpenid},
            create_time =  #{createTime},
            update_time =  #{updateTime}
        where   id = #{id} 
    </update>

    <select id="mallUserLogin" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" /> FROM mall_user
        WHERE username = #{username} AND password = #{password}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from mall_user
    </select>

    <!-- 获取总用户数 -->
    <select id="getTotalUserCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM mall_user
    </select>

    <!-- 获取今日新增用户数 -->
    <select id="getNewUserCountToday" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM mall_user WHERE create_time >= CURDATE()
    </select>

    <!-- 查询所有商城用户 -->
    <insert id="mallUserRegister" parameterType="com.example.smart_mall_li_cr_springboot2.pojo.MallUserRegisterParam">
        INSERT INTO mall_user (username, password, phone, nickname)
        VALUES (#{username}, #{password}, #{phone}, #{nickname})
    </insert>

    <update id="updateUserAvatar">
        UPDATE mall_user
        SET avatar = #{avatarUrl}
        WHERE id = #{userId}
    </update>

    <update id="updateUserInfo" parameterType="com.example.smart_mall_li_cr_springboot2.pojo.MallUser">
        UPDATE mall_user
        SET nickname = #{nickname},
            phone = #{phone}
        WHERE id = #{id}
    </update>
</mapper>
